
html{
  background-image: linear-gradient(to left, #051937, #122a4c, #203c62, #2c4f79, #396390);
}
body{
  background-image: linear-gradient(to left, #051937, #122a4c, #203c62, #2c4f79, #396390);
}
main {
  margin: 5% 10%
}
h1{
  color: white;
}
/* Tag selector */
button {
  font-family: Arial, Heletica, sans-serif !important;
}

/* Class selector */
.btn {
  color: green;
}
h1.h3.mb-3.fw-normal.text-center {
  color: white;
}
.navbar-dark{
  background-color: #11284a;
}
/* Id selector */
#login-btn {
  color: white;
  background-color: rgb(165, 194, 204);
  font-family: "Times New Roman", Times, serif !important;
}

#login-form {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
}

/* CSS comment*/
/* Child selector (applies only to inputs that are direct children of a div) */
div > input {

}

/* Descendent selector (applies only to anchor tags that are within some element with the class: .some-class*/
.some-class a {

}

/* Sibling selector (applies only to buttons that are a sibling to a div) */
div + button {

}

/* CSS Pseudo classes */
button:hover {
  background-color: rgb(43, 28, 28) !important;
}